@import 'reset';

body {
  background: url('concrete_seamless.png') fixed;
  /* NO tiling; */
  background-size: cover;
  font-family: 'Helvetica', Arial, Sans-serif;
}


.container {
  outline: 2px solid darkgray;
  border-radius: 4px;
  width: 960px;
  margin: 0 auto;
  margin-top: 2%;
  padding-top: .5%;
}

.contenders {
  //outline: 2px solid darkorange;
  overflow: auto;
  margin: 0 auto;

}

.header h1 {
  color: darkred;
  font-size: 2.5em;
  text-align: center;
  margin-top: 4%;
  margin-bottom: 5%;
}


.sprite {
  background-image: url(nes-final-fantasy-trans.png);
  background-size: 800%;
  margin: 10px;
  height: 90px;
  width: 60px;

}


.contenders .red-dude {
  //outline: 1px solid red;
  background-color: darkorange;
  display: inline-block;
  width: 20%;
  margin-left: 28%;

}



.red-dude .sprite {
  transform: scaleX(-1);
}

.red-dude .sprite.hurt {

}

.red-dude .hurt {
  background-position: -805px 0;
}

.red-dude-yay {
  background-position: -740px 0px;
}

.red-dude .dead {
  background-size: 500%;
  background-position: 350px 0px;
  width: 87px;
}

.contenders .blue-dude {
  outline: 1px solid red;
  background-color: darkorange;
  width: 20%;
  display: inline-block;
}

.blue-dude .sprite {
  background-position: -5px 94px;

}

.blue-dude .hurt {
  background-position: -805px 94px;

}

.blue-dude .sprite.hurt {
  background-position:-805px, 94px;
}


.blue-dude .dead {
    background-size: 500%;
    background-position: -1340px 94px;
    transform: scaleX(-1);
    width: 87px
  }


.blue-dude-yay {
  background-position: -740px 94px;
  transform: scaleX(-1);
}

.blue-dude-dead {
  background-position: -805px 94px;
  transform: scaleX(-1);
}


.name {
padding: 10px;

}

.hp {


}

.info {
  outline: 1px solid darkcyan;
  background-color: darkcyan;
  font-size: 1.3em;
  font-family: Arial;
  color: #000;
  text-align: center;
  margin-top: 200px;
  padding: 20px;
  text-align: center;

}


.message {
  //outline: 1px solid purple;
  font-size: 1.3em;
  font-family: Arial;
  font-weight: 500;
  color: darkred;
  text-align: center;
  margin-top: 100px;
  text-align: center;

}

.start-button {
  outline: 1p solid green;
  background-color: green;
  border-radius: 8px;
  color: white;
  font-size: 1.1em;
  margin-left: 45%;
  margin-top: 50px;
  padding: 5px 20px;
  text-align: center;
}
